.princess{
    width: 60%;
    height: 50px;
    background-color: rgb(131, 117, 117);
    padding-top: 10px;
    margin: auto;
    padding-left: 10px;
}
.four{
    background-color: grey;
    width: 60px;
    height: 70%;
}
.five{
    background-color: grey;
    width: 60px;
    height: 70%;
}
.six{
    background-color: grey;
    width: 60px;
    height: 70%;
}
.judith{
     width: 60%;
    height: 150px;
    background-color: rgb(131, 117, 117);
    padding-top: 10px;
    margin: auto;
    padding-left: 10px;
    margin-top: 10px;
}
.love{
     width: 60%;
    height: 200px;
    background-color: rgb(131, 117, 117);
    padding-top: 10px;
    margin: auto;
    padding-left: 10px;
    margin-top: 10px;
}
input{
    margin-bottom: 10px;
}
.message{
    width: 200px;
    height: 100px;
}