.HOME {
    width: 60%;
    height: 70px;
    background-color: rgb(145, 113, 113);
    margin: auto;
}

.trendy {
    background-color: green;
}

.tray {
    background-color: green;
}

.kemmy {
    background-color: green;
}

.PRINCESS {
    width: 60%;
    height: 500px;
    background-color: rgb(81, 87, 75);
    margin: auto;
    margin-bottom: 10px;
    padding-top: 40px;
    padding-left: 10px;
}

.first {
    width: 60%;
    height: 100px;
    background-color: rgb(137, 148, 144);
    margin: auto;
    margin-bottom: 10px;
}

.second {
    width: 60%;
    height: 100px;
    background-color: rgb(123, 118, 128);
    margin: auto;
    margin-bottom: 10px;
}

.tracy {
    height: 100%;
    width: 50%;
    background-color: rgb(160, 160, 209);
    float: left;
    padding-left: 0px;
}

.good {
    height: 100%;
    width: 50%;
    background-color: rgb(0, 255, 13);
    float: right;
}

.bby {
    background-color: darkturquoise;
    height: 50%;
    width: 100%;
}

.mom {
    background-color: brown;
    height: 50%;
    width: 100%;
}